.card{
    width: 100%;
    margin: auto;
    float: left;
    /* background-color: red; */
}
.text-center{
    background-color: red;
}
.shadow-md{
    width: 30%;
    margin: 3px;
}
.rounded-lg{
    width: 30%;
    margin: 3px;
}
.flex{
    width: 100%;
}
.rounded-lg{
    width: 400px;
}
.font-bold{
    height: 10px;
}